.messages
  .chat-main__messages-writer-name
    = message.user.name
  .chat-main__messages-data
    = message.created_at.strftime("%Y/%m/%d %H:%M")
  - if message.content.present?
    %p.chat-main__messages-writer-name-content
      = message.content
      %br
      = image_tag message.image.url, class: 'lower-message__image' if message.image.present?
  

  