.chat-main__messages-writer-name
  = message.user.name
  .chat-main__messages-writer-name-content
- if message.content.present?
  %p.chat-main__messages-writer-name-content
    = message.content
= image_tag message.image.url, class: 'lower-message__image' if message.image.present?
.chat-main__data
  = message.created_at.strftime("%Y/%m/%d %H:%M")

  