.sidebar_user-name
.sidebar__group-list
  .sidebar__groups
    .sidebar__group-name
      tech-camp
      %br
    .sidebar__group-message
      まだメッセージがありません。
      %br
    .sidebar__group-name
      aaa
      %br
    .sidebar__group-message
      まだメッセージがありません。
      %br

    .sidebar__group-name
      bbb
      %br
    .sidebar__group-message
      まだメッセージがありません。
      %br
      
.sidebar__user
  .sidebar__name-space
    miyu
  .sidebar__icon-space
    = link_to "#" do
      %i.fas.fa-cog
    = link_to "#" do
      %i.fas.fa-pen
    
      
