.sidebar_user-name
.sidebar__group-list
  .sidebar__group-list-one
    .sidebar__group-list-one-name
      tech-camp
      %br
    .sidebar__group-list-one-message
      まだメッセージがありません。
      %br
    
      
.sidebar__user
  .sidebar__user-name-space
    miyu
  .sidebar__user-icon-space
    = link_to "#" do
      %i.fas.fa-cog
    = link_to "#" do
      %i.fas.fa-pen
    
    
