  .main{
    position: relative;
  }
      
    .chat-main__group-info{
      background-color: #ffffff;
      height: 200px;
      width: calc(100vw - 300px);
      //float: right;
      margin-top: -100px;
      border-bottom: 1px solid #eeeeee;
      padding: 0 40px;

      &-name {
        padding-top: 35px;
        width: 300px;
        height: 30px;
        padding-top: 130px;
        color: #333333;
        font-size: 20px;
      }

      &-edit{
        display: flex;
        justify-content: flex-end;
        float: right;
        margin-top: -10px;
        height: 45px;
        width: 70px;
        line-height: 45px;
        padding-right: 20px;
        border: 1px solid #38AEF0;
          &-font{
            color: #38AEF0;
          }
        
       }

      &-members{
        height: 30px;
        padding-top: 50px;
        color: #999999;
        font-size: 12px;
       }  
      
    }
    
    
    .chat-main{
      height: calc(100vh - 170px);
      width: calc(100vw - 300px);
      //float: right;
      background-color: #fafafa;

      
      

      &__messages{
        padding-top: 45px;
        margin-left: -20px;
        height: 80vh;
        overflow: scroll;
        

        .lower-message__image{
          width: 100px;
          height: 100px;
        }
        
        


        &-data{
          color: #999999;
          font-size: 12px;
          height: 12px;
          width: 150px;
          margin-bottom: 40px;
          color: #999999;
          margin-left:100px;
          margin-top: -20px;
        }

      


        
        

        &-writer-name{
          color: #333333;
          font-size: 16px;
          height: 20px;
          line-height: 20px;
          padding-left: 55px;
          width: 100px;

          
          

          &-content{
            color: #434A54;
            font-size: 14px;
            width: 300px;
            padding-bottom: 50px;
            margin-top: 16px;
            padding-left: 60px;
          }
        }
        
          
        }

     

    }



      .chat-main__message-form{
        background-color: #d2d2d2;
        height: 90px;
        width: calc(100vw - 300px);
        //float: right;
        position: fixed;
        bottom: 0px;
        right: 0px;
        &-one{
          width: 950px;
          height: 50px;
          background-color: white;
          margin-top: 25px;
          margin-left: 40px;
        
          &-type{
            &-icon{
              float: right;
            }
          }
          
        }
  
        &-send{
          height: 50px;
          width: 85px;
          float: right;
          background-color:#38AEF0;
          color: white;
          margin-right: -150px;
          margin-top: -50px;
          line-height: 50px;
          text-align: center;
        }
      }
      

    

    .sidebar_user-name{
      background-color: #253141;
      height: 100px;
      width: 300px;
      

      &__user{
        font-size: 20px;
        color: white;
        padding-left: 20px;
        line-height: 20px;
        padding-top: 30px;
  
        &-icon-space{
          width: 60px;
          text-align: right;
          margin-left: 200px;
          margin-top: -20px;
          }
        }

      }
  

    

  .sidebar__group-list{
    width: 300px;
    background-color: #2f3e51;
    height: 710px;
    overflow: scroll;
    

    &-one{
      height: 91px;
      background-color:#2f3e51;
      padding: 0 20px;

      &-name{
        color: #ffffff;
        font-weight: bold;
        font-size: 15px;
        padding-top: 20px;
      }

      &-messages{
        color: #ffffff;
        font-weight: bold;
        font-size: 11px;
        padding-top: 5px;
        padding-bottom: 40px;
      }
    }
  }


  .fas.fa-pen:before{
    color: white ;
    }
  
    .fas.fa-cog:before{
    color: white ;
    }

  i{
    font-size: 15px;
    color: black;
  }

  

  .input-space{
    height: 50px;
    width: 900px;
  }

  .bbb{
    width: 0px;
    color: #fff;
    cursor: pointer;
    padding: 15px 30px;
    display: inline-block;
    padding-right: 0px;

  }

  .edit{
    color: #38AEF0;
  }

  .form {
    background-color: #DDDDDD;
    box-sizing: border-box;
    height: 90px;
    width: 1140px;
    padding: 10px 50px 20px 40px;
    position: absolute;
  
    
    &__message {
      border: none;
      float: left;
      height: 50px;
      width: calc(100% - 150px);
    }
    &__mask {
      background-color: $white;
      float: left;
      height: 50px;
      padding-right: 10px;
      &__image {
        font-size: 20px;
        line-height: 50px;
      }
      .hidden {
        display: none;
      }
    }
    &__submit {
      background-color: $light_blue;
      border: none;
      color: $white;
      float: right;
      font-size: 16px;
      height: 50px;
      margin-left: 15px;
      padding: 0 30px;
    }
}



    
    
    

